.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


td,
th {
  border: 0.5px solid #999;
  padding: 0.5rem;
  width: 100px;
  height: 1rem;
}

.btn{
  width: 200px;
  background-color: cornflowerblue;
  color: white;
  align-self: center;
  height: 40px;
  position: sticky;
  top: 40px;
  
}
.btn:hover{
  opacity: 0.8;
}

.pos{
  position: sticky;
  top: 0px;
}